	

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Admin theme. Start -->
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
             <argument name="themes" xsi:type="array">
                 <item name="adminhtml" xsi:type="string">Smartmage/BackendTheme</item> 
             </argument>
         </arguments>
    </type>
    <!-- Admin theme. End -->

   

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="adminblog_blog_category_data_source" xsi:type="string">CustomCollectionName</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="CustomCollectionName" type="Smartmage\Blog\Ui\DataProvider\Category\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sm_blog_category</argument>
            <argument name="resourceModel" xsi:type="string">Smartmage\Blog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
    
</config>
