	

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Admin theme. Start -->
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
             <argument name="themes" xsi:type="array">
                 <item name="adminhtml" xsi:type="string">Smartmage/BackendTheme</item> 
             </argument>
         </arguments>
    </type>
    <!-- Admin theme. End -->

   <type name="Smartmage\Blog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">test/tmp</argument>
            <argument name="basePath" xsi:type="string">test</argument>
            
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="adminblog_blog_category_data_source" xsi:type="string">CustomCollectionName</item>
                <item name="adminblog_blog_post_data_source" xsi:type="string">CustomCollectionNamePost</item>
                <item name="adminblog_blog_categoryedit_data_source" xsi:type="string">CustomCollectionName</item>
                <item name="adminblog_blog_postedit_data_source" xsi:type="string">CustomCollectionNamePost</item>

            </argument>
        </arguments>
    </type>

    <virtualType name="CustomCollectionName" type="Smartmage\Blog\Ui\DataProvider\Category\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sm_blog_category</argument>
            <argument name="resourceModel" xsi:type="string">Smartmage\Blog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>

    <virtualType name="CustomCollectionNamePost" type="Smartmage\Blog\Ui\DataProvider\Post\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sm_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">Smartmage\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    
</config>
