<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
       <!-- <add id="Smartmage_Smartmage::menu"
           title="Smartmage" module="Smartmage_Smartmage"
           sortOrder="25"
           resource="Magento_Backend::content"
           /> -->
       <!-- START: new node -->  
       <!-- <add id="Smartmage_Smartmage::menu_item"
           title="Smartmage/page route" module="Smartmage_Smartmage"
           sortOrder="10" parent="Smartmage_Smartmage::menu"
           action="smartmage/page/index"
           resource="Smartmage_Smartmage::menu_item"
           /> -->
       <!-- END:   new node -->
   </menu>
</config>
