<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
       <add id="Smartmage_Blog::sm_blog_menu"
           title="Smartmage" module="Smartmage_Blog"
           sortOrder="30"
           resource="Magento_Backend::content"
           />
       <!-- START: new node -->  
       <add id="Smartmage_Blog::menu_categories"
           title="Categories" module="Smartmage_Blog"
           sortOrder="10" parent="Smartmage_Blog::sm_blog_menu"
           action="adminblog/blog/category"
           resource="Smartmage_Blog::menu_categories"
           /> 
       <!-- END:   new node -->
       
       <!-- START: new node -->  
       <add id="Smartmage_Blog::menu_posts"
           title="Posts" module="Smartmage_Blog"
           sortOrder="11" parent="Smartmage_Blog::sm_blog_menu"
           action="adminblog/blog/post"
           resource="Smartmage_Blog::menu_posts"
           /> 
       <!-- END:   new node -->
       <!-- START: new node -->  
       <add id="Smartmage_Blog::blogindex"
           title="Index" module="Smartmage_Blog"
           sortOrder="12" parent="Smartmage_Blog::sm_blog_menu"
           action="adminblog/blog/index"
           resource="Smartmage_Blog::blogindex"
           /> 
       <!-- END:   new node -->
       <!-- START: new node -->  
       <!--
       <add id="Smartmage_Blog::menu_post"
           title="Post" module="Smartmage_Blog"
           sortOrder="20" parent="Smartmage_Blog::menu"
           resource="Smartmage_Blog::menu_post"
           /> -->
       <!-- END:   new node -->
   </menu>
</config>
