.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    * {
        color: red;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    * {
        color: green;
    }
}


* {
    color: gold;
}