
a.shipping {
    cursor: pointer;
}
.shipping-costs-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadein .3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.shipping-costs-modal-content {
    max-width: 340px;
    max-height: 536px;
    background-color: #FFFFFF;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 18px;
    border-radius: 5px;
    box-shadow: 1px 2px 8px 0px black;
    font-family: 'Montserrat', sans-serif;
    // border-style: solid;
    // border-width: thin;
    // & > * {
    //     padding-bottom: 3rem;
    // }

    .big-x-button {
        position: relative;
        bottom: 20px;
        width: 39px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        // border-style: solid;
        border-radius: 100%;
        // border-width: medium;
        background-color: #ffffff;
        color: #d5b080;
        // border-color: #d5b080;
        // box-shadow: 0rem 0rem 0 0.4rem white;
        box-shadow: 0 0 0 2px #fff, inset 0 0 0 2px #d4af7e;
        flex-shrink: 0;
    }
    #modal-confirm-button {
        font-family: 'Montserrat', sans-serif;
        width: 176px;
        height: 42px;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        border-color: #7ed321;
        color: #7ed321;
        background-color: #FFFFFF;
        border-radius: 21px;
        margin-top: 20px;
        transition: .3s;
    }
    #modal-confirm-button:hover {
        background-color: #7ed321;
        color: #FFFFFF;
        transition: .3s;
    }
    #modal-cancel-anchor {
        font-family: 'Montserrat', sans-serif;
        color: black;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 29px;

    }

    .modal-text {
        padding: 0px 18px;
        overflow-x: hidden;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #353535;
        h3{
            font-size: 16px;
            margin-bottom: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }
    }
    
}