
a.shipping {
    cursor: pointer;
}
.shipping-costs-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadein .3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.shipping-costs-modal-content {
    max-width: 400px;
    max-height: 400px;
    background-color: #FFFFFF;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    border-radius: 5px;
    box-shadow: 1px 2px 8px 0px black;
    // border-style: solid;
    // border-width: thin;
    // & > * {
    //     padding-bottom: 3rem;
    // }

    .big-x-button {
        position: relative;
        bottom: 1.5rem;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-radius: 100%;
        border-width: medium;
        background-color: #ffffff;
        color: #d5b080;
        border-color: #d5b080;
        box-shadow: 0rem 0rem 0 0.4rem white;
        flex-shrink: 0;
    }
    #modal-confirm-button {
        border-color: #419919;
        color: #419919;
        background-color: #FFFFFF;
        border-radius: 100px 100px;
        height: 4rem;
        margin-top: 20px;
        transition: .3s;
    }
    #modal-confirm-button:hover {
        background-color: #419919;
        color: #FFFFFF;
        transition: .3s;
    }
    #modal-cancel-anchor {
        margin-top: 20px;
        margin-bottom: 10px;

    }
    .modal-text {
        overflow-x: hidden;
    }
    a {
        color: black;
        text-decoration: underline;
    }
    .modal-text {
        margin-top: 20px;
    }
    
}