<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
     <system>
         <tab id="Smartmage-tab" translate="label" sortOrder="110">
             <label>Smartmage</label>
         </tab>
         <section id="Smartmage-section" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
             <class>separator-top</class>
             <label>Smartmage</label>
             <tab>Smartmage-tab</tab>
             <resource>Smartmage_Smartmage::acl_path</resource>
             <group id="Smartmage_product_group" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Smartmage</label>
                 <attribute type="expanded">1</attribute>
                 <field id="product_count" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Product count</label>
                     <validate>required-entry integer</validate>
                 </field>
                 <field id="product_price" translate="label comment" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Product price</label>
                     <validate>required-entry integer</validate>
                 </field>
                 <field id="product_image" translate="label comment" type="image" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Product image</label>
                     <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/smartmage" scope_info="1">smartmage/page</upload_dir>
                    <base_url type="media" scope_info="1">smartmage/page</base_url>
                 </field>
                 <field id="product_image_alt" translate="label comment" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Product image alternative text</label>
                     <validate>required-entry</validate>
                 </field>
                 <field id="product_image_title" translate="label comment" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Product image title</label>
                     <validate>required-entry</validate>
                 </field>
             </group>
        </section>
         <section id="Smartmage-meta-section" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
             <class>separator-top</class>
             <label>Meta tags</label>
             <tab>Smartmage-tab</tab>
             <resource>Smartmage_Smartmage::acl_path</resource>
             <group id="smartmage-meta-groups" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Smartmage</label>
                 <attribute type="expanded">1</attribute>
                 <field id="meta-title-tag" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>title tag</label>
                 </field>
                 <field id="meta-description-tag" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>description tag</label>
                 </field>
                 <field id="meta-robots-tag" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>robots</label>
                    <source_model>Smartmage\Smartmage\Model\Config\RobotSelect</source_model>
                </field>
                 
             </group>
        </section>
     </system>
</config>